<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>5by AngularJS Challenge App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ytApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">

      <div ng-view=""></div>

    </div>

    <div class="container" ng-contoller="MainCtrl">


      <div class="row panel" id="inputRow">
          <form ng-submit="addVideo()">
            <input type="text" name="input" ng-model="ytUrl" ng-trim="false" ></input>
            <input type="submit" value="Add" ></input>
          </form>
      </div>
      <button ng-click="cleare()">clear</button>

      <div class="row jumbotron" id="gallery" display-gallery="">
      </div>
      
      <div class="row" id="pagination">
        <ul class="pager">
          <li ><a href="" ng-click="decrementPage()" >Poprzednia strona</a></li>
          <li><a href="" ng-click="incrementPage()" >Następna strona</a></li>
        </ul> 

      </div> 
      
      <pager total-items="pagesAmount" ng-model="currentPage"></pager>
    </div>

    <div class="footer" id="results">

    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-sortable-view/src/angular-sortable-view.js"></script>
    <!-- endbower -->

    


    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="scripts/app.js"></script>

        <script src="scripts/services/storage.js"></script>
        <script src="https://apis.google.com/js/client.js?onload=ytAPI"></script>
        <script src="scripts/services/vimeo-api.js"></script>
        <script src="scripts/services/yt-api.js"></script>
        <script src="scripts/services/video-data.js"></script>

        
        <script src="scripts/services/check-url.js"></script>

        <script src="scripts/controllers/main-controller.js"></script>
        


        
        
        
        

        <script src="scripts/directives/display-gallery.js"></script>
        <script src="scripts/filters/trustAsResourceUrl.js"></script>

        <script src="scripts/services/pagination.js"></script>

        

<!--         // <script src="scripts/directives/st.js"></script>
        // <script src="scripts/services/swf-object.js"></script>
        // <script src="scripts/filters/iterate-for.js"></script>
        // <script src="scripts/directives/modal-player.js"></script> -->
        <!-- endbuild -->

        <!-- 
        1. pewnie dlatego, ze robisz wczytywanie i dodawanie po tym jaki film
        sie zaladuje zamiast ladowac wszystkie hurtem, np. przy uzyciu $q.all
        2. obstawiam, ze to wina closure - nie robisz gdzies domkniecia, albo
        ciagle przekazujesz jedna wartosc do dyrektywy
        3. tego nie widzialem a aktualnie nie moge siasc do kompa gdzie
        moglbym to sprawdzic-->
</body>
</html>
